<!DOCTYPE html>
<html>

<head>
<title>ipfs blog</title>

<link rel="stylesheet" href="{{ baseurl }}/static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ baseurl }}/static/blog-style.css" />

</head>
<body>

<div class="container" id="content">
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

<nav class="navbar">
  <div class="navbar-header">
    <p class="navbar-text">
    / <a href="http://ipfs.io">ipfs</a>
    / <a href="{{ baseurl }}">blog</a>
    {% for bc in breadcrumbs %}
     / <a href="{{ bc.link }}">{{ bc.name }}</a>
    {% endfor %}
    </p>
  </div>

  <div class="nav navbar-nav navbar-right">
    <p class="navbar-text">
      <a href="https://github.com/ipfs/blog/">source</a>
    </p>
  </div>
</nav>

{% block content %}
  {{ contents }}
{% endblock %}

</div>
</div> <!-- container / content -->
</body>
</html>
