{% extends "tmpl/layouts/basic.html" %}

{% block content %}
<div class="post">
    <h1>{{ title }}</h1>
    <p>by {{ author }} on {{ date | date("YYYY-MM-DD") }}</p>
    <br />

    {{ contents }}
</div>
{% endblock %}
